.container {
  background-color: whitesmoke;
  width: 50rem;
  height: 30rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px black;
}
