.conversion {
  width: 100%;
  height: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conversion-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.conversion-row h5 {
  margin: 0.3rem;
}

.conversion-row.first {
  height: 40%;
}

.conversion-row.first div {
  width: 40%;
  height: 100%;
}

.conversion-row h2 {
  margin-bottom: 0.5rem;
}

.conversion-row.first input {
  width: 8rem;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}
.conversion-row.first button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  height: 2.3rem;
  width: 7rem;
  border: none;
  background-color: #522473;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
}

.conversion-row.first button:disabled {
  background-color: #522473af;

  cursor: default;
}

.conversion-row.first button:disabled:hover {
  transform: none;
  box-shadow: none;
}

.conversion-row.first button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px black;
}

.conversion-row.first button:active {
  transform: scale(1);
  box-shadow: 0 0 10px black;
}

.conversion-row.first select {
  height: 30px;
  width: 4rem;
  border-radius: 5px;
}

.conversion-row.second {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conversion-row.second h1 {
  font-size: 3rem;
  padding: 5px;
  margin: 5px;
  margin-top: 0;
}

.conversion-row.second h2 {
  padding: 5px;
  margin: 0;
}

.conversion-row.third {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.total-stat {
  width: 27%;
}

.total-stat h4 {
  margin-top: 10px;
}

.total-stat h2 {
  margin-bottom: 0;
}
