.modal {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  top: 30vh;
  width: 40%;
  height: auto;
  left: 30%;
  background-color: whitesmoke;
  border-radius: 15px;
}

.modal-header {
  width: 100%;
  margin-bottom: 7px;
  margin-top: 15px;
  font-size: 1.7rem;
}

.modal-children {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .modal {
    width: 30%;
    left: 35%;
  }
}

@media (max-width: 1400px) {
  .modal {
    width: 40%;
    left: 30%;
  }
}

@media (max-width: 1200px) {
  .modal {
    width: 50%;
    left: 25%;
  }
}

@media (max-width: 920px) {
  .modal {
    width: 60%;
    left: 20%;
  }
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
    left: 10%;
  }
}
